@import url('https://fonts.cdnfonts.com/css/montserrat');

html,
body {
  display: block;
  min-height: 100vh;
  margin: 0px;
  font-family: Montserrat;

}

#root {
  box-sizing: border-box;
  padding: 15px;
  margin: 0px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-attachment: fixed;
}

.main-container {
  box-sizing: border-box;
  position: relative;
  background-color: #fdfdfde7;
  border-radius: 25px;
  padding: 16px;
  max-width: 1200px;
  margin: 0px auto;
  min-height: calc(100vh - 30px);
}