.drink-info {
    margin: 45px 0px;
    color: #1C0B19;
}

.drink-info h3 {
    font-size: 1.25rem;
}

.drink-info img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.drink-info ul {
    padding-left: 0px;
}

.drink-info ul label {
    font-weight: bold;
}

.drink-info ul li {
    list-style-type: none;
}

.drink-info p {
    font-size: 0.8rem;
    margin-left: 15px;
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}