.drink-info {
    margin: 45px 0px;
    color: #1C0B19;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.drink-info__img {
    height: auto;
}

.drink-info__img img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.drink-info__description {

}

.drink-info .drink-info__description h3 {
    font-size: 1.25rem;
}

.drink-info .drink-info__description ul {
    padding-left: 0px;
    font-weight: bold;
}

.drink-info .drink-info__description ul label {
    
}

.drink-info .drink-info__description ul li {
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.drink-info .drink-info__description p {
    font-size: 0.8rem;
    margin-left: 15px;
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {
    .drink-info {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

    }
    .drink-info__img {
        width: 30%;
    }
    
    .drink-info__description {
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {}