.coctails-favourite {
  display: none;
}

.coctails-favourite h3 {
  font-size: 1.25rem;
  color: #1C0B19;
}

.coctails__counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin: 64px 0px 20px 0px;
  background-color: #FDFDFD;
  box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  -webkit-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  -moz-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  border-radius: 10px;
}

.coctails__counter__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgb(234, 76, 137);
  ;
  border-radius: 10px;
  overflow: hidden;
  svg {
    fill: red;
  }
}

.coctails__counter__right {
  flex: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.9rem;

}

.coctails__counter__right p {
  color: #808080;
  font-weight: 600;
  margin: 0px;
}

.coctails__counter__right p::nth-child(1) {
  margin-top: 0px;
}

.coctails-favourite ul {
  list-style: none;
  padding: 0px 10px;
}

.coctails-favourite ul li {
  margin-bottom: 20px;
  padding: 0px 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FDFDFD;
  box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  -webkit-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  -moz-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
  border-radius: 10px;
  transition: transform .2s;
}

.coctails-favourite ul li:hover {
  transform: translateX(10px);
}

.coctails-favourite ul li a {
  text-decoration: none;
  width: 100%;
  margin-right: 10px;
}

.coctails-favourite ul li a h4 {
  font-weight: 400;
  color: #808080;
}

.coctails-favourite ul .remove-favourite {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.coctails-favourite ul .remove-favourite path {
  fill: rgb(108, 55, 146);

}

.coctails-favourite .coctails-favourite__button {
  float: right;
}

@media only screen and (min-width: 992px) {
  .coctails-favourite {
    display: block;
    width: 25%;
  }
}