.favourite-notification-list {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  
}
.favourite-notification {
  background-color: rgb(255, 91, 31);
  width: fit-content;
  padding: 0px 20px;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.favourite-notification p {
  color: #FDFDFD;
  display: inline-block;
  font-weight: 600;
  margin-right: 15px;
  font-size: 0.6rem;
}

.favourite-notification-list .remove {
  background-color: rgb(108, 55, 146);

}

.favourite-notification svg {
  width: 15px;
}

.favourite-notification svg path {
  fill: #FDFDFD;
}

@media only screen and (min-width: 768px) {
  .favourite-notification p {
    color: #FDFDFD;
    display: inline-block;
    font-weight: 600;
    margin-right: 15px;
    font-size: 0.8rem;
  }

  .favourite-notification svg {
    width: 30px;
  }
}

