.favourite-notification-list {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  
}
.favourite-notification {
  background-color: rgb(255, 91, 31);
  padding: 0px 20px;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.favourite-notification p {
  color: #FDFDFD;
  display: inline-block;
  font-weight: 600;
  margin-right: 15px;
  font-size: 0.8rem;
}

.favourite-notification-list .remove {
  background-color: rgb(108, 55, 146);

}
.favourite-notification svg path {
  fill: #FDFDFD;
}