.find-ingredient {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0px 15px;
    max-width: 500px;
}

.open-prompt {
    margin-top: 15px;
}

.ingredient-prompt {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FDFDFD;
    border-radius: 20px;
    padding: 20px 10px 60px 10px;
    width: 85%;
    max-width: 650px;
    box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
    -webkit-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
    -moz-box-shadow: 8px 10px 16px 0px rgba(201, 201, 201, 0.8705882353);
}

.ingredient-prompt ul {
    list-style: none;
    padding-left: 0px;
}

.ingredient-prompt ul li {
    display: block;
}

.ingredient-prompt .close-prompt {
    position: absolute;
    top: 10px;
    right: 10px;
    color:  #FDFDFD;
    background-color: rgb(100, 58, 131);
    padding: 5px;
    width: 17px;
    height: 17px;
    border-radius: 100px;
}

.ingredient-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.ingredient-button:disabled {
    cursor: default;
    background-color: rgb(124 124 124);
}

  @media only screen and (min-width: 768px) {
    .find-ingredient {
        max-width: 100%;
    }
    .open-prompt {
        margin-top: 0px;
    }
  }